<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://loradatagroep9.blob.core.windows.net/proximusimages/proximus-favicon.ico" type="image/x-icon" />
    <title>@ViewBag.Title - MyThings Dashboard</title>
    @if(ViewBag.PageId != "Home")
    {
        @Styles.Render("~/Content/css")
    }
    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


    @if (ViewBag.PageId != "Home")
    {
        <body>
            <div class="colorWrapper">
                <nav class="navbar navbar-inverse container navoverride navbar-fixed-top" style="background: #b4b5b7;">
                    <div class="navbar">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle buttonoverride" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse icons">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a class="headerMargin" href="">
                                            <div class="imghelper">
                                                <img height="45px" src="http://loradatagroep9.blob.core.windows.net/proximusimages/proximus-x.png" alt="Proximus Home" title="Proximus Home">
                                            </div><p class="navtext">Proximus Home</p>
                                        </a>
                                    </li>
                                    <li><div class="interDiv"></div></li>
                                    <li>
                                        <a class="headerMargin" href="">
                                            <div class="imghelper">
                                                <img height="45px" src="http://loradatagroep9.blob.core.windows.net/proximusimages/home-icon.png" alt="MyThings Home" title="MyThings Home">
                                            </div><p class="navtext">Proximus Home</p>
                                        </a>
                                    </li>
                                    <li><div class="interDiv"></div></li>
                                    <li>
                                        <a class="headerMargin" href="">
                                            <div class="imghelper">
                                                @if (ViewBag.PageId == "list")
                                        {
                                                    <img height="45px" src="http://loradatagroep9.blob.core.windows.net/proximusimages/sensor-list-icon-active.png" alt="List Sensors" title="List Sensors">
                                        }
                                        else {<img height="45px" src="http://loradatagroep9.blob.core.windows.net/proximusimages/sensor-list-icon.png" alt="List Sensors" title="List Sensors">}
                                            </div><p class="navtext">Proximus Home</p>
                                        </a>
                                    </li>
                                    <li><div class="interDiv"></div></li>
                                    <li>
                                        <a class="headerMargin" href="">
                                            <div class="imghelper">
                                                @if (ViewBag.PageId == "error")
                                        {<img height="45px" src="http://loradatagroep9.blob.core.windows.net/proximusimages/error-list-icon-active.png" alt="Error List" title="Error List">
                                        }
                                        else {<img height="45px" src="http://loradatagroep9.blob.core.windows.net/proximusimages/error-list-icon.png" alt="Error List" title="Error List">}
                                            </div><p class="navtext">Proximus Home</p>
                                        </a>
                                    </li>
                                    <li><div class="interDiv"></div></li>
                                    <li>
                                        <a class="headerMargin" href="">
                                            <div class="imghelper">
                                                @if (ViewBag.PageId == "support")
                                        {<img height="45px" src="http://loradatagroep9.blob.core.windows.net/proximusimages/support-icon-active.png" alt="Support" title="Support">
                                        }
                                        else {<img height="45px" src="http://loradatagroep9.blob.core.windows.net/proximusimages/support-icon.png" alt="Support" title="Support">}
                                            </div><p class="navtext">Proximus Home</p>
                                        </a>
                                    </li>
                                    <li><div class="interDiv"></div></li>
                                    <li>
                                        <a class="headerMargin" href="">
                                            <div class="imghelper">
                                                @if (ViewBag.PageId == "invoice")
                                        {<img height="45px" src="http://loradatagroep9.blob.core.windows.net/proximusimages/invoice-icon-active.png" alt="Invoice" title="Invoice">
                                        }
                                        else {<img height="45px" src="http://loradatagroep9.blob.core.windows.net/proximusimages/invoice-icon.png" alt="Invoice" title="Invoice">}
                                            </div><p class="navtext">Proximus Home</p>
                                        </a>
                                    </li>
                                    <li><div class="interDiv"></div></li>
                                    <li>
                                        <a class="headerMargin" href="">
                                            <div class="imghelper">
                                                <img height="45px" src="http://loradatagroep9.blob.core.windows.net/proximusimages/door-icon-fat.png" alt="Logout" title="Logout">
                                            </div><p class="navtext">Proximus Home</p>
                                        </a>
                                    </li>

                                </ul>
                                @*@Html.Partial("_LoginPartial")*@
                                <ul class="nav navbar-nav navbar-right right">
                                    <li><h1>MyThings</h1></li>
                                    <li>
                                        <label for="language"></label>
                                        <Select id="language">
                                            <option value="en">EN</option>
                                            <option value="nl">NL</option>
                                            <option value="fr">FR</option>
                                            <option value="de">DE</option>
                                        </Select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr class="purpleHr">
                </nav>
                <div>
                    <div class="container body-content" style="padding-top: 85px;">
                        @RenderBody()
                    </div>
                    <hr class="purpleHr">
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Mythings Dashboard</p>
                    </footer>
                </div>
            </div>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @if (ViewBag.PageId == "containerdetail")
            {
                @Scripts.Render("~/Scripts/3djs");
            }
            @Scripts.Render("~/Scripts/mythings")
            @RenderSection("scripts", required: false)
        </body>
    }
    else
    {
        <body class="homepageBody">
            <div class="container body-content">
                @RenderBody()
            </div>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/Scripts/gridster")
            @Scripts.Render("~/Scripts/mythings")
            @RenderSection("scripts", required: false)
        </body>
    }
</html>
