@using MyThings.Common.Models
@using Newtonsoft.Json
@model MyThings.Web.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Index";
    ViewBag.Pageid = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyThings Dashboard</h2>

<div class="gridsterContainer">
    <div class="gridster">
        <ul>
            @*<li class="smallsquaretile" data-row="1" data-col="1" data-sizex="1" data-sizey="1"></li>
            <li class="smallsquaretile" data-row="2" data-col="1" data-sizex="1" data-sizey="1"></li>
            <li class="smallsquaretile" data-row="3" data-col="1" data-sizex="1" data-sizey="1"></li>
            <li class="smallsquaretile" data-row="1" data-col="2" data-sizex="1" data-sizey="1"></li>
            <li class="smallsquaretile" data-row="2" data-col="2" data-sizex="2" data-sizey="1"></li>
            <li class="smallsquaretile" data-row="1" data-col="4" data-sizex="1" data-sizey="1"></li>
            <li class="smallsquaretile" data-row="2" data-col="4" data-sizex="1" data-sizey="1"></li>
            <li class="smallsquaretile" data-row="3" data-col="4" data-sizex="1" data-sizey="1"></li>
            <li class="smallsquaretile" data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li>
            <li class="smallsquaretile" data-row="3" data-col="5" data-sizex="1" data-sizey="1"></li>
            <li class="smallsquaretile" data-row="1" data-col="6" data-sizex="1" data-sizey="1"></li>
            <li class="smallsquaretile" data-row="2" data-col="6" data-sizex="1" data-sizey="2"></li>*@

            <li class="test" data-row="1" data-col="1" data-sizex="1" data-sizey="1"></li>
            <li class="test" data-row="2" data-col="1" data-sizex="1" data-sizey="1"></li>
        </ul>
    </div>
</div>

@*BRUNO*@


<div class="mainhomepagediv">
    <div class="clockdiv maindiv">
        <div class="largesquaretile unhoverabletile">
            <div class="clock customimg">
                <div class="hours-container">
                    <div class="hours"></div>
                </div>
                <div class="minutes-container">
                    <div class="minutes"></div>
                </div>
                <div class="seconds-container">
                    <div class="seconds"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="warningdiv maindiv">
        <a href="@Url.Action("Warning", "Dashboard")">
            <div class="largesquaretile">
                <div class="textdiv"> Warnings</div>
                <div class="warningvalue ciphervalue">2</div>
                <img class="warningimg customimg" alt="warningicon" src="http://loradatagroep9.blob.core.windows.net/proximusimages/error-icon.png" />
            </div>
        </a>
    </div>
    <div class="errordiv maindiv">
        <a href="@Url.Action("Error", "Dashboard")">
            <div class="largesquaretile">
                <div class="textdiv">Errors</div>
                <div class="errorvalue ciphervalue">5</div>
                <img class="errorimg customimg" alt="erroricon" src="http://loradatagroep9.blob.core.windows.net/proximusimages/warning-icon.png" />
            </div>
        </a>
    </div>
    @*logout*@
    <div class="logoutdiv maindiv">
        <a href="@Url.Action("About", "Dashboard")">
            <div class="largesquaretile">
                <img class="logoutimg customimg" alt="logouticon" src="http://loradatagroep9.blob.core.windows.net/proximusimages/door-icon.png" />
            </div>
        </a>
    </div>
    <div class="Sensormngmtdiv maindiv">
        <a href="@Url.Action("Sensors", "Dashboard")">
            <div class="smallsquaretile">
                <div class="textdivsmallsquare">Sensor management</div>
            </div>
        </a>
    </div>
    <div class="containerdiv maindiv">
        <a href="@Url.Action("Containers", "Dashboard")">
            <div class="smallsquaretile">
                <div class="textdivsmallsquare">Containers</div>
            </div>
        </a>
    </div>
    <div class="Invoicediv maindiv">
        <a href="@Url.Action("Invoice", "Dashboard")">
            <div class="horizontalrectangletile">
                <div class="textdivsmallsquare">Invoice</div>
            </div>
        </a>
    </div>
    <div class="Supportdiv maindiv">
        <a href="@Url.Action("Support", "Dashboard")">
            <div class="smallsquaretile">
                <div class="textdivsmallsquare">Support</div>
            </div>
        </a>
    </div>
    <div class="Mapdiv maindiv">
        <a href="@Url.Action("Map", "Dashboard")">
            <div class="smallsquaretile">
                <div class="textdivsmallsquare">Geographic overview sensors</div>
            </div>
        </a>
    </div>

    @* <div class="Pinneddiv maindiv">
            <a href="@Url.Action("Map", "Dashboard")">
                <div class="verticalrectangletile">
                    <img class="pinimg customimg" alt="logouticon" src="http://loradatagroep9.blob.core.windows.net/proximusimages/Pin-icon.png" />
                    <div class="textdivrectangle">Groupname</div>
                </div>
            </a>
        </div>*@
</div>

@section scripts{
    <script>
        //Clock Javascript
        (function() {
            initLocalClocks();
            moveSecondHands();
            setUpMinuteHands();


            //nieuw
            MaakEenGrid();

        })();

        function MaakEenGrid(){
            $(".gridster ul").gridster({
                widget_margins: [5, 5],
                widget_base_dimensions: [140, 140]
            });
        }

        //GRIDSTER DEMO JAVASCRIPT //TODO: Remodel this javascript
        var originalGridsterJson = "@Model.OriginalGridsterJson";
        var gridsterJson = @Html.Raw(@Model.GridsterJson);

        var pinnedSensors = [];
        var pinnedContainers = [];
        var pinnedGroups = [];
        var pinnedErrors = [];
        var errors = [];

        var errorCount = @ViewBag.ErrorCount.ToString();
        var warningCount = @ViewBag.WarningCount.ToString();

        var fixedTileCount = @ViewBag.FixedTileCount.ToString();
        var customTileCount = @ViewBag.CustomTileCount.ToString();
        var totalTileCount = @ViewBag.TotalTileCount.ToString();

        @foreach (Sensor sensor in Model.PinnedSensors)
        {
            @: var sensor = Sensor.loadFromJson("@JsonConvert.SerializeObject(sensor)");
            @: pinnedSensors.push(sensor);
        }

        @foreach (Container container in Model.PinnedContainers)
        {
            @: var container = new Container("@container.Id.ToString()", "@container.Name",  "@container.MACAddress",  "@container.CreationTime.ToShortDateString()", "@container.LastUpdatedTime.ToShortDateString()",
            @: "@container.ContainerType.ToString()", "@container.SensorId.ToString()", "@container.CurrentValue", "@container.History");
            @: pinnedContainers.push(container);
        }

        @foreach (Group group in Model.PinnedGroups)
        {
            @: var group = new Group("@group.Id", "@group.Name", "@group.Sensors");
            @: pinnedGroups.push(group);
        }

        @foreach (Error error in Model.PinnedErrors)
        {
            @: var error = new Error("@error.Id", "@error.ErrorCode", "@error.Type", "@error.Category", "@error.Title", "@error.Description", "@error.Advice",
            @: "@error.Time", "@error.Read", "@error.Sensor", "@error.Container");
            @: pinnedErrors.push(error);
        }

        @foreach (Error error in Model.Errors)
        {
            @: var error = new Error("@error.Id", "@error.ErrorCode", "@error.Type", "@error.Category", "@error.Title", "@error.Description", "@error.Advice",
            @: "@error.Time", "@error.Read", "@error.Sensor", "@error.Container");
            @: errors.push(error);
        }

        console.log(gridsterJson);

        console.log(pinnedSensors);
        console.log(pinnedContainers);
        console.log(pinnedGroups);
        console.log(pinnedErrors);

        console.log(errors);

        console.log(totalTileCount);
    </script>
}









