@using MyThings.Common.Models
@using Newtonsoft.Json
@model MyThings.Web.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<script>
    var originalGridsterJson = @Model.OriginalGridsterJson;
    var GridsterJson = @Model.GridsterJson;

    var pinnedSensors = [];
    var pinnedContainers = [];
    var pinnedGroups = [];
    var pinnedErrors = [];
    var errors = [];

    var errorCount = @ViewBag.ErrorCount;
    var warningCount = @ViewBag.WarningCount;

    var fixedTileCount = @ViewBag.FixedTileCount;
    var customTileCount = @ViewBag.CustomTileCount;
    var totalTileCount = @ViewBag.TotalTileCount;

    @foreach (Sensor sensor in Model.PinnedSensors)
    {
        @: var sensor = Sensor.loadFromJson(@JsonConvert.SerializeObject(sensor));
            @: pinnedSensors.push(sensor);
            }

    @foreach (Container container in Model.PinnedContainers)
    {
        @: var container = new Container(@container.Id, @container.Name,  @container.MACAddress,  @container.CreationTime, @container.LastUpdatedTime,
        @: @container.ContainerType, @container.SensorId, @container.CurrentValue, @container.History);
            @: pinnedContainers.push(container);
            }

    @foreach (Group group in Model.PinnedGroups)
    {
        @: var group = new Group(@group.Id, @group.Name, @group.Sensors);
            @: pinnedGroups.push(group);
            }

    @foreach (Error error in Model.PinnedErrors)
    {
        @: var error = new Error(@error.Id, @error.ErrorCode, @error.Type, @error.Category, @error.Title, @error.Description, @error.Advice,
        @: @error.Time, @error.Read, @error.Sensor, @error.Container);
            @: pinnedErrors.push(error);
            }

    @foreach (Error error in Model.Errors)
    {
        @: var error = new Error(@error.Id, @error.ErrorCode, @error.Type, @error.Category, @error.Title, @error.Description, @error.Advice,
        @: @error.Time, @error.Read, @error.Sensor, @error.Container);
            @: errors.push(error);
            }
</script>
