@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Sensormanagement";
    ViewBag.PageId = "list";
}

<div class="sensormanagementhtml">
    <ul>
        <li class="breadcrumbs">@Html.ActionLink("Home", "Index", "Dashboard") > @Html.ActionLink("Sensor management", "Sensormanagement", "Dashboard")</li>
    </ul>

    <ul class="sensorul">
        <li class="editgroup">
            <h2>Groups</h2>
        </li>
        <li class="editgroup">
            @Html.ActionLink("Edit", "Editgroups", "Dashboard")
        </li>
    </ul>

    <div class="groupdiv">
        <div class="grouprectangletile">
            <div class="textdivgroup">Groupname</div>
            <div class="ciphervaluegroup">75</div>
            <div class="sensors">sensors</div>
        </div>

        <div class="grouprectangletile">
            <div class="textdivgroup">Groupname</div>
            <div class="ciphervaluegroup">5000</div>
            <div class="sensors">sensors</div>
        </div>

        <div class="grouprectangletile addgrouptile">
            <a href="@Url.Action("Editgroups", "Dashboard")">
                <div class="addgroup">+</div>
            </a>
        </div>
    </div>

    <hr class="purpleHr"/>

    <ul class="sensorul">
        <li class="editgroup">
            <h2>Sensors</h2>
        </li>
    </ul>

    @using (Html.BeginForm("Sensormanagement", "Dashboard", FormMethod.Get, new {@class = "searchsensorform"}))
    {
        <div class="searchdiv">
            <input class="searchbardiv" type="search" name="searchsensor"/>
            <input class="inputimg" type="image" value="submit" src="http://loradatagroep9.blob.core.windows.net/proximusimages/search-icon.svg"/>
        </div>
    }

    @*@Html.DropDownListFor(model => model.iets, null, "Pick a sorting method")*@

    <select class="dropdowntest">
        <option value="select">Pick a sorting method</option>
        <option value="Exemplo2">Exemplo2</option>
        <option value="Exemplo3">Exemplo3</option>
    </select>

     <table class="table">
        <tr class="sensorsheadrow">
            <th>ID</th>
            <th>Name</th>
            <th># Containers</th>
            <th>Location</th>
            <th></th>
        </tr>

        <tr class="sensorrows">
            <td class="idsensordiv"><a href="@Url.Action("SensorDetail", "Dashboard", "5")">1B81111DA35AEG</a> </td>
            <td class="namesensordiv"><a href="@Url.Action("SensorDetail", "Dashboard", "5")">1B81111DA35AEG</a> </td>
            <td class="numbercontainerdiv"><a href="@Url.Action("SensorDetail", "Dashboard", "5")">35</a> </td>
            <td class="sensorlocationdiv"><a href="@Url.Action("SensorDetail", "Dashboard", "5")">West Flanders, Belgium</a> </td>
            <td class="sensorpinimg"><a class="pinlink" href="@Url.Action("PinGroup", "Dashboard", "5")"><img class="sensorpinimg" alt="pin icon" src="http://loradatagroep9.blob.core.windows.net/proximusimages/pin-black-icon.svg" /></a> </td>
        </tr>
        <tr class="sensorrows">
            <td class="idsensordiv"><a href="@Url.Action("SensorDetail", "Dashboard", "5")">1B811GHDA35AG</a> </td>
            <td><a href="@Url.Action("SensorDetail", "Dashboard", "5")">Proxsensor20</a> </td>
            <td class="numbercontainerdiv"><a href="@Url.Action("SensorDetail", "Dashboard", "5")">7</a> </td>
            <td class="sensorlocationdiv"><a href="@Url.Action("SensorDetail", "Dashboard", "5")">Antwerp, Belgium</a> </td>
            <td class="sensorpinimg"><a class="pinlink" href="@Url.Action("PinGroup", "Dashboard", "5")"><img class="sensorpinimg" alt="pin icon" src="http://loradatagroep9.blob.core.windows.net/proximusimages/pin-black-icon.svg" /></a> </td>
        </tr>
    </table>

    <div>
        @*<div class="sensorlist table">
            <div class="sensorsheadrow table-row">
                <div>ID</div>
                <div>Name</div>
                <div># Containers</div>
                <div>Location</div>
            </div>*@

        @*Sensor pin on same line, but can't click on the pin*@
        @*<div class="sensorrows">
                <a href="@Url.Action("SensorDetail", "Dashboard", "5")">
                    <div class="idsensordiv">1B81111DA35AEG </div>
                    <div class="namesensordiv">1B81111DA35AEG</div>
                    <div class="numbercontainerdiv">35</div>
                    <div class="sensorlocationdiv">West Flanders, Belgium</div>
                    <img class="sensorpinimg" alt="pin icon" src="http://loradatagroep9.blob.core.windows.net/proximusimages/pin-black-icon.svg"/>
                </a>
            </div>*@
        @* Sensor pin on line below, but CAN click on the pin *@
        @*<div class="sensorrows">
                    <a href="@Url.Action("SensorDetail", "Dashboard", "5")">
                        <div class="idsensordiv">1B81111DA35AEG </div>
                        <div class="namesensordiv">1B81111DA35AEG</div>
                        <div class="numbercontainerdiv">35</div>
                        <div class="sensorlocationdiv">West Flanders, Belgium</div>
                    </a>
                    <a class="pinlink" href="@Url.Action("PinGroup", "Dashboard", "5")">
                        <img class="sensorpinimg" alt="pin icon" src="http://loradatagroep9.blob.core.windows.net/proximusimages/pin-black-icon.svg" />
                    </a>
                </div>
                <div class="sensorrows">
                    <a href="@Url.Action("SensorDetail", "Dashboard", "2")">
                        <div class="idsensordiv">1B811GHDA35AG</div>
                        <div class="namesensordiv">Proxsensor20</div>
                        <div class="numbercontainerdiv">7</div>
                        <div class="sensorlocationdiv">Antwerp, Belgium</div>
                    </a>
                    <a class="pinlink" href="@Url.Action("PinGroup", "Dashboard", "5")">
                        <img class="sensorpinimg" alt="pin icon" src="http://loradatagroep9.blob.core.windows.net/proximusimages/pin-black-icon.svg" />
                    </a>
                </div>
                <div class="sensorrows">
                    <a href="@Url.Action("SensorDetail", "Dashboard", "2")">
                        <div class="idsensordiv">1B811GHDA35AG</div>
                        <div class="namesensordiv">Proxsensor20</div>
                        <div class="numbercontainerdiv">16</div>
                        <div class="sensorlocationdiv">Antwerp, Belgium</div>
                    </a>
                    <a class="pinlink" href="@Url.Action("PinGroup", "Dashboard", "5")">
                        <img class="sensorpinimg" alt="pin icon" src="http://loradatagroep9.blob.core.windows.net/proximusimages/pin-black-icon.svg" />
                    </a>
                </div>
            </div>*@
    </div>
    <br/>
</div>


